<div class="view_profile">
  <h1>View <%= @profile.name %>'s Profile</h1>
  <br/>
<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @profile.birthday %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @profile.twitter %>
</p>

<p>
  <strong>Url:</strong>
  <%= @profile.url %>
</p>
<% if @profile.user_id != current_user.id %>
  <%= link_to 'Add Friend', friend_request_path(@profile.user_id) %>
<% end %>
</div>
